{% extends "layout.html" %}
{% block content %}
	<div class="container">
		{% if not session['id'] %}
		<div class="row">
			<div class="col-md-6">
				<form action="/users/create" method="post">
					<fieldset class="well the-fieldset">
				        <legend class="the-legend">Register</legend>
						<table>
							<tr>
								<td>
									<label>First name:</label>
								</td>
								<td>
									<input type="text" name="firstname" placeholder="First name"><br>
								</td>
							</tr>
							<tr>
								<td>
									<label>Last name:</label>
								</td>
								<td>
									<input type="text" name="lastname" placeholder="Last name"><br>
								</td>
							</tr>
							<tr>
								<td>
									<label>Email Address:</label>
								</td>
								<td>
									<input type="email" name="email" placeholder="Email Address">
								</td>
							</tr>
							<tr>
								<td>
									<label>Password:</label>
								</td>
								<td>
									<input type="password" name="password"><br>
									<span>*Password should be at least 8 characters</span>
								</td>
							</tr>
							<tr>
								<td>
									<label>Confirm PW:</label>
								</td>
								<td>
									<input type="password" name="confirmation">
								</td>
							</tr>
							<tr>
								<td>
									<label>Phone number</label>
								</td>
								<td>
									<input type="number" name="phone" placeholder="Phone number" required>
								</td>
							</tr>
							<tr>
								<td>
									<label>Street:</label>
								</td>
								<td>
									<input type="text" name="address1" placeholder="street"><br>
								</td>
							</tr>
							<tr>
								<td>
									<label>Aptartment #:</label>
								</td>
								<td>
									<input type="text" name="apartment" placeholder="Apartment #"><br>
								</td>
							</tr>
							<tr>
								<td>
									<label>City:</label>
								</td>
								<td>
									<input type="text" name="city" placeholder="City"><br>
								</td>
							</tr>
							<tr>
								<td>
									<label>State:</label>
								</td>
								<td>
									<input type="text" name="state" placeholder="State"><br>
								</td>
							</tr>
							<tr>
								<td>
									<label>Zip code:</label>
								</td>
								<td>
									<input type="number" name="zipcode" placeholder="Zipcode"><br>
								</td>
							</tr>
							<tr>
								<td>
									<input type='hidden' name="user_level" value="0">
									<input type="hidden" name="home" value="1">
								</td>
								<td class="alignRight">
									<button type="submit" name="Sign In" class="btn btn-success">Register</button>
								</td>
								
							</tr>

						</table>
				    </fieldset>
				</form>
			</div>

			
			<div class="col-md-6">
				<form action="/users/login" method="post">
					<fieldset class="well the-fieldset">
				        <legend class="the-legend">Login</legend>
						<table>
							<tr>
								<td>
									<label>Email Address:</label>
								</td>
								<td>
									<input type="email" name="email" placeholder="Email address" required>
								</td>
							</tr>
							<tr>
								<td>
									<label>Password:</label>
								</td>
								<td>
									<input type="password" name="password" required>
								</td>
							</tr>
							<tr>
								<td>
								</td>
								<td class="alignRightx">
									<button type="submit" name="Sign In" class="btn btn-primary">Sign in</button>
								</td>
								
							</tr>
							<tr>
									<td>
									</td>
									<td class="">
										
										<script>
										  // This is called with the results from from FB.getLoginStatus().
										  function statusChangeCallback(response) {
										    console.log('statusChangeCallback');
										    console.log(response);
										    // The response object is returned with a status field that lets the
										    // app know the current login status of the person.
										    // Full docs on the response object can be found in the documentation
										    // for FB.getLoginStatus().
										    if (response.status === 'connected') {
										      // Logged into your app and Facebook.
										      testAPI();
										    } else if (response.status === 'not_authorized') {
										      // The person is logged into Facebook, but not your app.
										      document.getElementById('status').innerHTML = 'Please log ' +
										        'into this app.';
										    } else {
										      // The person is not logged into Facebook, so we're not sure if
										      // they are logged into this app or not.
										      document.getElementById('status').innerHTML = 'Please log ' +
										        'into Facebook.';
										    }
										  }

										  // This function is called when someone finishes with the Login
										  // Button.  See the onlogin handler attached to it in the sample
										  // code below.
										  function checkLoginState() {
										    FB.getLoginStatus(function(response) {
										      statusChangeCallback(response);
										    });
										  }

										  window.fbAsyncInit = function() {
										  FB.init({
										    appId      : '629724553844886',
										    cookie     : true,  // enable cookies to allow the server to access 
										                        // the session
										    xfbml      : true,  // parse social plugins on this page
										    version    : 'v2.5' // use graph api version 2.5
										  });

										  // Now that we've initialized the JavaScript SDK, we call 
										  // FB.getLoginStatus().  This function gets the state of the
										  // person visiting this page and can return one of three states to
										  // the callback you provide.  They can be:
										  //
										  // 1. Logged into your app ('connected')
										  // 2. Logged into Facebook, but not your app ('not_authorized')
										  // 3. Not logged into Facebook and can't tell if they are logged into
										  //    your app or not.
										  //
										  // These three cases are handled in the callback function.

										  FB.getLoginStatus(function(response) {
										    statusChangeCallback(response);
										  });

										  };

										  // Load the SDK asynchronously
										  (function(d, s, id) {
										    var js, fjs = d.getElementsByTagName(s)[0];
										    if (d.getElementById(id)) return;
										    js = d.createElement(s); js.id = id;
										    js.src = "//connect.facebook.net/en_US/sdk.js";
										    fjs.parentNode.insertBefore(js, fjs);
										  }(document, 'script', 'facebook-jssdk'));

										  // Here we run a very simple test of the Graph API after login is
										  // successful.  See statusChangeCallback() for when this call is made.
										  function testAPI() {
										    console.log('Welcome!  Fetching your information.... ');
										    FB.api('/me?fields=email,first_name,last_name', function(response) {
										      console.log('Successful login for: ' + response);
										      document.getElementById('status').innerHTML =
										        'Thanks for logging in, ' + response.email + '!';
										      window.location = "/facebook_success/" + response.email+ "/" + response.first_name + "/" + response.last_name
										    });
										  }
										</script>

										<!--
										  Below we include the Login Button social plugin. This button uses
										  the JavaScript SDK to present a graphical Login button that triggers
										  the FB.login() function when clicked.
										-->

										<fb:login-button scope="public_profile,email" onlogin="checkLoginState();" class="fb-login-button" data-max-rows="1" data-size="medium" data-show-faces="false" data-auto-logout-link="false">
										</fb:login-button>
										<!-- <div class="fb-login-button" data-max-rows="1" data-size="medium" data-show-faces="false" data-auto-logout-link="true"></div> -->
										<div id="status"></div>

									</td>
									
								</tr>
						</table>
					</fieldset>
				</form>
			</div>
		</div>
		{% else %}
		<h3 class="warning">You are already logged in!</h3>
		{% endif %}
    </div> <!-- /container -->
{% endblock %}
