* {
/*  font-family: monaco;*/
    font-family: 'Raleway', sans-serif;
    font-size: 1.05em;
}

body {
  min-height: 800px;
  padding-top: 75px;
}

.container {
    width: 90%;
    padding: 1em;
    margin: auto;
}

.container2 {
    width: 60%;
    margin: auto;
}

.alignRight{
    padding-top: 1%;
	padding-left: 18%;
}
.alignRightx{
    padding-top: 1%;
    padding-left: 30%;
}
.fieldsetLeft{
	width: 40%;
}
.the-legend {
    border-style: none;
    border-width: 0;
    font-size: 14px;
    line-height: 20px;
    margin-bottom: 0;
    width: 50%
}
.the-fieldset {
    border: 2px groove threedface #444;
    -webkit-box-shadow:  0px 0px 0px 0px #000;
            box-shadow:  0px 0px 0px 0px #000;
}

#map{
    height: 300px;
    width: 40%;
}

#logoutbtn {
    margin-top: 0px;
}

.profile_pic_img {
    width: 9em;
    height: auto;
}

.yellow {
    color: #ffd11a;
}