{% extends "layout.html" %}
{% block content %}
	<div class="container">
		<div class="container2">
			<h1 class="center-text">Delivery of Service</h1>
			<p>The idea for D.O.S came to us during a brain storming session in Coding Dojo, San Jose.  It is a perfect app for the modern world with its fast-paced demand and supply.  Imagine contracting people to do simple work for you with an ease of a button.  Or, making a few extra dollars doing work for others locally, and being able to negotiate your pay.</p>
			<p>Sounds like a dream?</p>
			<p>Now it's a reality, here at D.O.S.</p>
		</div>
	</div>
{% endblock %}